@{
    ViewBag.Title = "Home Page";
}

<div class="container-fluid">
    <div class="row">
        <section class="col-sm-2"></section>
        <section class="col-sm-8">
            <img src="~/Content/images/Shoptilyoudrop.png" style="width:525px;height:524px;" /></section>
        <section class="col-sm-2"></section>
    </div>
</div>
